<%# loop across all users and show them with variable friend request buttons %>

<div class="column is-2 is-offset-5">
  <h2 class="title is-3">Friends</h2>
  <div class="box">
    <ul>
      <% @users.each do |user| %>
        <% unless current_user == user %>
          <li>
            <%= user.name %>
            <span class="icon">
            <% if current_user.requestStatus(user) == "pending" %>
              <i class="fa-solid fa-clock"></i>
            <% elsif current_user.requestStatus(user) == "accepted" %>
              <i class="fa-solid fa-user-check"></i>
            <% else %>
              <i class="fa-solid fa-user-plus"></i>
            <% end %>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
