<%# loop across all users and show them with variable friend request buttons %>


<div class="column is-2 is-offset-5">
  <div class="box">
    <table class="table">
      <% if params[:mode] == "accepted" %>
        <thead>Friends</thead>
      <% else %>
        <thead>Request a friend</thead>
      <% end %>
      
      <% @users.each do |user| %>
        <% unless current_user == user %>
          
              <% if params[:mode] == "accepted" %>
                <% if current_user.requestStatus(user) == "accepted" %>
                <tr>
                  <td>
                    <div class="span"><%= user.name %></div>
                  </td>
          
                  <td>
                    <span class="icon">
                      <i class="fa-solid fa-user-check"></i>
                    </span>
                  </td>
                </tr>
                <% end %>

              <% else %>
                <% if current_user.requestStatus(user) == "pending" %>
                  <tr>
                    <td>
                      <div class="span"><%= user.name %></div>
                    </td>
          
                    <td>
                      <span class="icon">
                        <i class="fa-solid fa-clock"></i>
                      </span>
                    </td>
                  </tr>

                <% elsif current_user.requestStatus(user) == "accepted" %>
                  <%# blank to deal with accepted requests %>
                <% else %>
                  <tr>
                    <td>
                      <div class="span"><%= user.name %></div>
                    </td>
          
                    <td>
                      <%= button_to @friend_request, method: :post, class: 'button is-ghost', params: { recipient_id: user.id } do %>
                        <i class="fas fa-user-plus"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
