<div class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container is-max-desktop">
      <div class="box">
        <h1 class="title">Hello World</h1>
        <div class="content">The time is now: <%= Time.now %></div>
        <% unless user_signed_in? %>
          <%= button_to user_facebook_omniauth_authorize_path, class:"button is-medium is-facebook has-background-info has-text-white" do %>
            <span class="icon">
              <i class="fab fa-facebook"></i>
            </span>
            <span>Login with Facebook</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>