<div class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container is-max-desktop">
      <div class="box">
        <%= render 'form' %>
      </div>
      <div class="box">
        <% @posts.each do |post| %>
          <div class="box">
            <% user = User.find(post.user_id) %>
            <%= user.name %>:
            <%= post.body %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>