<div class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container is-max-desktop">
      <div class="box">
        <%= render 'form' %>
      </div>
      <div class="box">
        <h1 class="title">This is the post feed!</h1>
        <div class="content">The time is now: <%= Time.now %></div>
      </div>
    </div>
  </div>
</div>