<section class="section">
  <div class="container">
    <% if user_signed_in? %>
      <%= render 'feed' %>
    <% else %>
      <div class="hero is-fullheight">
        <div class="hero-body has-text-centered">
          <div class="container is-max-desktop">
            <div class="box">
              <h1 class="title">Login to Momo's Odin Facebook!</h1>
              <div class="content">The time is now: <%= Time.now %></div>

              <%= render :partial => 'devise/login' %>

              
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
