<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'feed' %>
      <% else %>
        
      <% end %>
    </div>
  </div>
</section>
