<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'feed' %>
      <% else %>
        <h1>How did you get here without being logged in!?</h1>
      <% end %>
    </div>
  </div>
</section>
