<%# loop across all friend requests and show them with variable friend request buttons %>


<div class="column is-2 is-offset-5">
  <div class="box">
    <table class="table">
      <thead>Friend Requests</thead>
      <% @friendRequests.each do |fr| %>
        <% if current_user == fr.receiver %>
          <tr>
            <td>
              <div class="span"><%= fr.requester.name %></div>
            </td>
    
            <td>
              <%= button_to delete_friend_request_path(fr),
                          method: :delete,
                          class: 'delete-request',
                          data: { confirm: "Delete #{fr.requester.name}'s friend request?" } do %>
                <i class="fas fa-user-times"></i>
              <% end %>
            </td>

            <td>
              <%= button_to confirm_friend_request_path(fr),
                          method: :post,
                          class: 'confirm-request' do %>
                <i class="fas fa-user-check"></i>
              <% end %>
            </td>

          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
